.atividade {
  background-color: brown;
  width: 30rem;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 5rem;
}

.titulo {
  color: aliceblue;
  font-size: 1.5rem;
  text-align: left;
}

.descricao {
  text-align: left;
}

.botaoExcluir {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #4d0f0f;
  border: none;
}

.botaoEditar {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #4d0f0f;
  gap: 1rem;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status {
  text-align: left;
  color: #fdaeae;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border: 1px solid black;
  z-index: 999;
}

.popupButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}